{% extends 'auth.html.twig' %}

{% block title %}Regras{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-6">
    <div class="mb-6">
        <a href="/rules/new" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Nova Regra
        </a>
    </div>

    {% for message in app.flashes('error') %}
        <div class="bg-red-100 text-red-700 rounded-lg m-4 p-4 ">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="bg-green-100 text-green-700 rounded-lg m-4 p-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="space-y-6">
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
            <!-- Cabeçalho da tabela -->
            <div class="bg-gray-50 dark:bg-gray-700 p-4">
                <div class="grid grid-cols-4 gap-1">
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Valor Mínimo</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Valor Máximo</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Pontuação</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">#</div>
                </div>
            </div>

            <!-- Conteúdo da tabela -->
            {% if rules is empty %}
                <div class="p-6 text-center text-gray-500 dark:text-gray-400">
                    Nenhuma regra cadastrada.
                </div>
            {% else %}
            
                {% for rule in rules %}
                    <div class="flex flex-row items-center gap-8 p-6 sm:items-start lg:items-center">
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ rule.amount_min }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ rule.amount_max }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ rule.score }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            <a href="{{ path('app_rules.update', { 'id': rule.id }) }}"
                                class="px-2 font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg class="h-6 w-6 text-red-400 transition duration-75 group-hover:text-red-900 dark:text-red-400 dark:group-hover:text-white" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                            </a>
                            
                            <form action="{{ path('app_rules.destroy', {'id': rule.id }) }}" method="delete" onsubmit="return confirmDelete(this)">
                                <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                                    Deletar
                                </button>
                            </form>
                            
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
function confirmDelete(form) {
    if (confirm("Realmente deseja apagar esta regra? Esta ação não poderá ser revertida.")) {
        return true;
    }
    return false;
    }
</script>

{% endblock %}