{% extends 'auth.html.twig' %}

{% block title %}Administrador de Premios{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-6">
    <div class="mb-6">
        <a href="{{ path('app_admin_reward.create') }}" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Novo Prêmio
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="bg-green-100 text-green-700 p-3 rounded-lg m-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="space-y-6">
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
            <!-- Cabeçalho da tabela -->
            <div class="bg-gray-50 dark:bg-gray-700 p-4">
                <div class="grid grid-cols-4 gap-1">
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Imagem</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Nome</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Pontuação</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">#</div>
                </div>
            </div>

            <!-- Conteúdo da tabela -->
            {% if rewards is empty %}
                <div class="p-6 text-center text-gray-500 dark:text-gray-400">
                    Nenhum registro encontrado.
                </div>
            {% else %}
            
                {% for item in rewards %}
                    <div class="flex flex-row items-center gap-8 p-6 sm:items-start lg:items-center">
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {% if item.image %}
                                <img class="w-10 h-10 rounded-sm" src="{{ item.image }}" alt="{{ item.name }}">
                            {% endif %}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ item.name }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ item.pointsCost }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex w-full">
                            <a href="{{ path('app_admin_reward.update', { 'id': item.id }) }}"
                                class="flex-col px-2 font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg class="h-6 w-6 text-red-400 transition duration-75 group-hover:text-red-900 dark:text-red-400 dark:group-hover:text-white" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                            </a>

                            <a href="javascript:void(0)" type="button" id="btn-delete-{{ item.id }}"
                                class="flex-col px-2 font-medium text-red-600 dark:text-red-500 hover:underline" onClick="destroy({{ item.id }})">
                                <svg class="h-6 w-6 text-red-400 transition duration-75 group-hover:text-red-900 dark:text-red-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
function destroy(id) {
    fetch(`/admin/reward/${id}`, {
        method: 'DELETE',
        headers: {
            'Accept': 'application/json',
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Erro na requisição');
        }
        return response.json();
    })
    .then(data => {
        if (data.id) {
            window.location.reload()
        } else {
            throw new Error('Recompensa não encontrado');
        }
    })
    .catch(error => {
        console.log(error, 'Erro ao deletar')
    });
}
</script>
{% endblock %}