{% extends 'auth.html.twig' %}

{% block title %}Registros{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-6">
    <div class="my-2 py-3">
        <form action="{{ path('app_transactions') }}" method="get">
        <input type="hidden" name="_token" value="{{ csrf_token('profile-form') }}">
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Pesquisar</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" name="search" id="search"
                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Nome ou telefone ..." required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>
    </div>
    <div class="mb-6">
        <a href="/transactions"
                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
            Limpar Pesquisa
        </a>
        <a href="/transactions/new" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Novo Registro
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="p-4 bg-green-100 text-green-700 rounded-lg m-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="space-y-6">
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
            <!-- Cabeçalho da tabela -->
            <div class="bg-gray-50 dark:bg-gray-700 p-4">
                <div class="grid grid-cols-4 gap-1">
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Valor</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Usuário</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">Data Lancamento</div>
                    <div class="text-sm font-medium text-gray-700 dark:text-gray-200">#</div>
                </div>
            </div>

            <!-- Conteúdo da tabela -->
            {% if transactions is empty %}
                <div class="p-6 text-center text-gray-500 dark:text-gray-400">
                    Nenhum registro encontrado.
                </div>
            {% else %}
            
                {% for item in transactions %}
                    <div class="flex flex-row items-center gap-8 p-6 sm:items-start lg:items-center">
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ item.amount }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ item.user.name }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            {{ item.created_at }}
                        </div>
                        <div class="text-sm text-gray-900 dark:text-gray-100 flex-col w-full">
                            <form action="{{ path('app_transactions.destroy', {'id': item.id }) }}" method="delete" onsubmit="return confirmDelete(this)">
                                <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                                    Deletar
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
function confirmDelete(form) {
    console.log('confirmDelete...', form);
        if (confirm("Realmente deseja cancelar esta transação? Esta ação não poderá ser revertida.")) {
            return true;
        }
        return false;
    }
</script>
{% endblock %}